.chunk{
    border-radius:5%;
    background-color:skyblue;
    height:20px;
    width:20px;
    display:grid;
}

.gameBoard{
    background-color: grey;
    display:grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows:auto;
    grid-gap: 1px;
    width:210px;
    margin:auto;
}

.ship{
    background:orange;
}
.ship.chunk.attacked{
    background: red;
}

.chunk.attacked{
    background: black;
}
.ship.chunk.attacked.cpu{
    background:orange;
}
.ship.cpu{
    background: greenyellow;
}
.fullBoard{
    display:grid;
    grid-template-columns: 210px 210px;
    grid-gap: 50px;
    margin-left: auto;
}