.chunk{
    border-radius:5%;
    background-color:skyblue;
    height:20px;
    width:20px;
    display:grid;
}

.gameBoard{
    background-color: grey;
    display:grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows:auto;
    grid-gap: 1px;
    width:210px;
    margin-top:25%;
}

.p1{
    position:absolute;
    left:10%;
}
.p2{
    position:absolute;
    right:10%;
}
body{
    background: rgb(32, 32, 32)
}

.ship{
    background:orange;
}
.ship.chunk.attacked{
    background: red;
}

.chunk.attacked{
    background: black;
}
.ship.chunk.attacked.cpu{
    background:red;
}
.ship.cpu{
    background: skyblue;
}
.fullBoard{
    display:grid;
    grid-template-columns: 210px 210px;
    grid-gap: 50px;
    text-align:center;
}

.title{
    font-size: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    text-align:center;
    color: whitesmoke;
}